In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.mode.chained_assignment = None  # default='warn'
import ast
from datetime import datetime

In [2]:
#import credits csv files into dataframes
credits = pd.read_csv('credits.csv')

In [3]:
#see dataframe
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [4]:
#get info
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
cast    45476 non-null object
crew    45476 non-null object
id      45476 non-null int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [5]:
#import movies csv file into dataframes
movies = pd.read_csv('movies_metadata.csv',low_memory=False)

In [6]:
#drop 'belongs_to_collection','homepage','overview', 'imdb_id', 'spoken_languages', 
#'poster_path','popularity','vote_count','tagline','video'
movies_dropped = movies.drop(columns = ['homepage','overview', 'original_title', 'imdb_id', 'spoken_languages', 'poster_path','popularity','vote_count','tagline','video'])

In [7]:
movies_dropped.head()

,adult,belongs_to_collection,budget,genres,id,original_language,production_companies,production_countries,release_date,revenue,runtime,status,title,vote_average
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,Released,Toy Story,7.7
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,Released,Jumanji,6.9
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7

In [8]:
#Look at data info
movies_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 14 columns):
adult                    45466 non-null object
belongs_to_collection    4494 non-null object
budget                   45466 non-null object
genres                   45466 non-null object
id                       45466 non-null object
original_language        45455 non-null object
production_companies     45463 non-null object
production_countries     45463 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
runtime                  45203 non-null float64
status                   45379 non-null object
title                    45460 non-null object
vote_average             45460 non-null float64
dtypes: float64(3), object(11)
memory usage: 4.9+ MB

In [9]:
#Note that budget is not a numeric type. Convert budget to numeric.
movies_dropped['budget'] = pd.to_numeric(movies_dropped['budget'], errors='coerce')

#Note that id is also not a numeric type. Convert id to numeric
movies_dropped['id'] = pd.to_numeric(movies_dropped['id'], errors='coerce')

movies_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 14 columns):
adult                    45466 non-null object
belongs_to_collection    4494 non-null object
budget                   45463 non-null float64
genres                   45466 non-null object
id                       45463 non-null float64
original_language        45455 non-null object
production_companies     45463 non-null object
production_countries     45463 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
runtime                  45203 non-null float64
status                   45379 non-null object
title                    45460 non-null object
vote_average             45460 non-null float64
dtypes: float64(5), object(9)
memory usage: 4.9+ MB

In [10]:
#Look at data statistics
#Note that many movies are showing a budget and revenue of 0
movies_dropped.describe()

             budget             id       revenue       runtime  vote_average
count  4.546300e+04   45463.000000  4.546000e+04  45203.000000  45460.000000
mean   4.224579e+06  108359.918813  1.120935e+07     94.128199      5.618207
std    1.742413e+07  112460.749278  6.433225e+07     38.407810      1.924216
min    0.000000e+00       2.000000  0.000000e+00      0.000000      0.000000
25%    0.000000e+00   26449.500000  0.000000e+00     85.000000      5.000000
50%    0.000000e+00   60003.000000  0.000000e+00     95.000000      6.000000
75%    0.000000e+00  157328.000000  0.000000e+00    107.000000      6.800000
max    3.800000e+08  469172.000000  2.787965e+09   1256.000000     10.000000

In [11]:
#Number of movies with 0 revenue
movies_dropped[movies_dropped.revenue==0].shape

(38052, 14)

In [12]:
#Number of movies with 0 budget
movies_dropped[movies_dropped.budget==0].shape

(36573, 14)

In [13]:
#Replace 0s in revenue and budget with null values
movies_dropped['revenue'] = movies_dropped['revenue'].replace(0,np.nan)
movies_dropped['budget'] = movies_dropped['budget'].replace(0,np.nan)

#Drop rows with null revenue and budget
movies_dropped = movies_dropped.dropna(subset=['revenue','budget'])

In [14]:
#Check for null entries. 1 null runtime left and 4157 null belongs_to_collection left.
movies_dropped.isnull().sum()

adult                       0
belongs_to_collection    4157
budget                      0
genres                      0
id                          0
original_language           0
production_companies        0
production_countries        0
release_date                0
revenue                     0
runtime                     1
status                      0
title                       0
vote_average                0
dtype: int64

In [15]:
#Drop row with null runtime value
movies_dropped = movies_dropped.dropna(subset = ['runtime'])

In [16]:
#Convert belong_to_collection to dictionaries and Nans
movies_dropped.belongs_to_collection = movies_dropped.belongs_to_collection.apply(lambda x: ast.literal_eval(x) 
                                                                                  if type(x) != float else None)

In [17]:
#Extract collection name, 0 if none
movies_dropped['collection'] = movies_dropped.belongs_to_collection.apply(lambda x: x['name'] if type(x) == dict else 0)

In [18]:
#Drop 'belongs_to_collection' column
movies_dropped = movies_dropped.drop(columns = ['belongs_to_collection'])

In [19]:
#Look at statistics for updated data
#Note that now movies seem to have a budget and revenue of single digits ($1) which seems unlikely.
movies_dropped.describe()

             budget             id       revenue      runtime  vote_average
count  5.380000e+03    5380.000000  5.380000e+03  5380.000000   5380.000000
mean   3.109946e+07   60634.824907  9.033491e+07   109.827695      6.273829
std    4.016490e+07   95597.909441  1.661531e+08    22.041188      0.925280
min    1.000000e+00       5.000000  1.000000e+00     0.000000      0.000000
25%    5.027750e+06    8817.000000  7.016471e+06    95.000000      5.700000
50%    1.700000e+07   14395.500000  2.992061e+07   106.000000      6.300000
75%    4.000000e+07   59971.250000  9.997431e+07   120.000000      6.900000
max    3.800000e+08  443319.000000  2.787965e+09   338.000000      9.100000

In [20]:
#Number of movies that have a budget of less than $10,000 = 59
movies_dropped[movies_dropped.budget < 10000]['budget'].count()

59

In [21]:
#Drop extremely low budget movies since data might not be reliable (single digit budgets) and it is only 59 movies
movies_clean = movies_dropped[movies_dropped.budget>10000]

In [22]:
#Revenue is still showing minimum values in single digits but leaving these here for now. 
#They should be filtered out as outliers later on in the analysis.
movies_clean.describe()

             budget             id       revenue      runtime  vote_average
count  5.319000e+03    5319.000000  5.319000e+03  5319.000000   5319.000000
mean   3.145611e+07   60512.388419  9.133231e+07   109.909945      6.273924
std    4.025547e+07   95637.195151  1.668326e+08    22.044733      0.920978
min    1.117800e+04       5.000000  3.000000e+00     0.000000      0.000000
25%    5.900000e+06    8684.500000  7.459844e+06    95.000000      5.700000
50%    1.700000e+07   14283.000000  3.042610e+07   106.000000      6.300000
75%    4.000000e+07   59966.000000  1.005074e+08   120.000000      6.900000
max    3.800000e+08  443319.000000  2.787965e+09   338.000000      9.100000

In [23]:
#Look at distribution in adult column
movies_clean.adult.value_counts()

False    5319
Name: adult, dtype: int64

In [24]:
#Since no movies are adult movies, remove adult column
movies_clean = movies_clean.drop(columns = ['adult'])

In [25]:
#Set id type as int
movies_clean.id = movies_clean.id.astype('int')

In [26]:
#Check for duplicates based on id and remove them
#movies_clean = movies_clean.drop_duplicates(subset=['id'])

In [27]:
#Merge movies and credits dataframes on ID
df = pd.merge(movies_clean,credits,on='id', how='left')

In [28]:
#Check for duplicates based on id and remove them
df = df.drop_duplicates(subset=['id'])

In [29]:
#Look at merged dataframe
df.head()

,budget,genres,id,original_language,production_companies,production_countries,release_date,revenue,runtime,status,title,vote_average,collection,cast,crew
0,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,Toy Story Collection,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
3,60000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",949,en,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,187436818.0,170.0,Released,Heat,7.7,0,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de..."
4,35000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",9091,en,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,64350171.0,106.0,Released,Sudden Death,5.5,0,"[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de..."

In [30]:
#Turn cast column into list
df['cast'] = df['cast'].apply(ast.literal_eval)

In [31]:
#Turn crew column into list
df['crew'] = df['crew'].apply(ast.literal_eval)

In [32]:
#Turn genre column into a list
df['genres'] = df.genres.apply(ast.literal_eval)

In [33]:
#Identify rows with missing cast and set them to null
df.cast = df.cast.apply(lambda x: np.nan if len(x)==0 else x)

In [34]:
#Identify rows with missing crew and set them to null
df.crew = df.crew.apply(lambda x: np.nan if len(x)==0 else x)

In [35]:
#Identify movies with no genres and replace with null
df.genres = df.genres.apply(lambda x: np.nan if len(x)==0 else x)

In [36]:
#Drop rows with null values
df = df.dropna(subset = ['crew', 'cast', 'genres'])

In [37]:
#Get lead actor from cast column
df['actor'] = df.cast.apply(lambda x: x[0]['name'])

In [38]:
#Get director from crew column
df['director'] = df.crew.apply(lambda row: next((item for item in row if item["job"] == "Director"), np.nan)['name'])

In [39]:
#Get main genre from genres column
df['main_genre'] = df.genres.apply(lambda row: row[0]['name'])

In [40]:
#Drop original cast, crew, genres columns
df = df.drop(columns = ['cast', 'crew', 'genres'])

In [41]:
#Import highest grossing actors and directors databases
top_actors = pd.read_csv('actors_highest_grossing.csv',encoding='ISO-8859-1', usecols = ['Name'])
top_directors = pd.read_csv('directors_highest_grossing.csv',encoding='ISO-8859-1', usecols = ['Name'])

In [42]:
df['top_actor'] = df.actor.isin(top_actors.Name).astype(int)

In [43]:
df['top_director'] = df.director.isin(top_directors.Name).astype(int)

In [44]:
#Remove rumored and post-production movies (n = 4) because revenue and budget are likely not reliable
df = df[df.status == 'Released']

In [45]:
#Convert release_date to datetime
df['release_date'] = pd.to_datetime(df['release_date'])

In [46]:
#Define function to convert release dates into holidays/seasons
def season(x):
    #if february and close to valentines day = Valentine's day
    if (x.month == 2) and (10 <= x.day <= 20):
        return '''Valentine's Day'''
    #if late november or december = Holiday Season
    elif (x.month == 11 and x.day >= 15) or (x.month == 12):
        return 'Holiday Season'
    #if in May, June, or July = Summer
    elif (5 <= x.month <= 7):
        return "Summer"
    #if september and close to labor day
    elif (x.month == 9) and (1 <= x.day <= 7):
        return 'Labor Day'
    #if january and close to mlk day
    elif (x.month == 1) and (15 <= x.day <= 21):
        return 'MLK Day'
    #else just return month
    else:
        return x.strftime("%B")

In [47]:
#Add column for release season
df['release_season'] = df['release_date'].apply(season)

In [48]:
#Add column for return (revenue - budget)/budget
df['roi'] = (df.revenue-df.budget)/df.budget

In [49]:
#reset index
df = df.reset_index()

In [50]:
#Visualize final data
df.head()

,index,budget,id,original_language,production_companies,production_countries,release_date,revenue,runtime,status,title,vote_average,collection,actor,director,main_genre,top_actor,top_director,release_season,roi
0,0,30000000.0,862,en,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,Toy Story Collection,Tom Hanks,John Lasseter,Animation,1,1,October,11.451801
1,1,65000000.0,8844,en,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,0,Robin Williams,Joe Johnston,Adventure,1,0,Holiday Season,3.043035
2,2,16000000.0,31357,en,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,0,Whitney Houston,Forest Whitaker,Comedy,0,0,Holiday Season,4.090760
3,3,60000000.0,949,en,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,187436818.0,170.0,Released,Heat,7.7,0,Al Pacino,Michael Mann,Action,0,0,Holiday Season,2.123947
4,4,35000000.0,9091,en,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,64350171.0,106.0,Released,Sudden Death,5.5,0,Jean-Claude Van Damme,Peter Hyams,Action,0,0,Holiday Season,0.838576

In [51]:
#Confirm all columns are of the right type and have no null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5290 entries, 0 to 5289
Data columns (total 20 columns):
index                   5290 non-null int64
budget                  5290 non-null float64
id                      5290 non-null int64
original_language       5290 non-null object
production_companies    5290 non-null object
production_countries    5290 non-null object
release_date            5290 non-null datetime64[ns]
revenue                 5290 non-null float64
runtime                 5290 non-null float64
status                  5290 non-null object
title                   5290 non-null object
vote_average            5290 non-null float64
collection              5290 non-null object
actor                   5290 non-null object
director                5290 non-null object
main_genre              5290 non-null object
top_actor               5290 non-null int64
top_director            5290 non-null int64
release_season          5290 non-null object
roi                     5290 non-null float64
dtypes: datetime64[ns](1), float64(5), int64(4), object(10)
memory usage: 826.6+ KB